{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Wh0o0o0psi. 404 ERROR babe</h1>
        <p>
        Choose your hero:
        <ul>
            <li>404.0 – Not found.</li>
            <li>404.1 – Site Not Found.</li>
            <li>404.2 – ISAPI or CGI restriction.</li>
            <li>404.3 – MIME type restriction.</li>
            <li>404.4 – No handler configured.</li>
            <li>404.5 – Denied by request filtering configuration.</li>
            <li>404.6 – Verb denied.</li>
            <li>404.7 – File extension denied.</li>
            <li>404.8 – Hidden namespace.</li>
            <li>404.9 – File attribute hidden.</li>
            <li>404.10 – Request header too long.</li>
            <li>404.11 – Request contains double escape sequence.</li>
            <li>404.12 – Request contains high-bit characters.</li>
            <li>404.13 – Content length too large.</li>
            <li>404.14 – Request URL too long.</li>
            <li>404.15 – Query string too long.</li>
            <li>404.16 – DAV request sent to the static file handler.</li>
            <li>404.17 – Dynamic content mapped to the static file handler via a wildcard MIME mapping.</li>
            <li>404.18 – Query string sequence denied.</li>
            <li>404.19 – Denied by filtering rule.</li>
            <li>404.20 – Too Many URL Segments.</li>
        </ul>
        </p>
    </div>
{% endblock content %}